<div *ngIf="!isSignedIn">
  <h2>Sign up</h2>
  <input type="text" #emailSignUp>
  <input type="text" #pswSignUp>
  <button (click)="onSignUp(emailSignUp.value, pswSignUp.value)">Sign Up</button>
</div>
<hr>
<div *ngIf="!isSignedIn">
  <h2>Sign in</h2>
  <input type="text" #emailSignIn>
  <input type="text" #pswSignIn>
  <button (click)="onSignIn(emailSignIn.value, pswSignIn.value)">Sign In</button>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLougout()"></app-home>
